<div class="modal-header pb-0">
    <div class="row flex-grow-1">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-2">
                    <form class="d-flex flex-grow-1 align-items-center"
                        (keydown.enter)="$event.preventDefault()"
                        (keydown.shift.enter)="$event.preventDefault()"
                    >
                        <div class="d-flex flex-grow-1 align-items-center">
                            <input
                                type="text"
                                class="form-control form-control pe-0 border-0 shadow-none"
                                placeholder="Buscar carta (escribí al menos 3 letras)"
                                [formControl]="cardSearchTextInput"
                            >
                            @if(term) {
                                <button type="button" class="btn border-0 shadow-none" (click)="clearTerm()">
                                    <fa-icon [icon]="closeIcon" style="fill-opacity: .5;"></fa-icon>
                                </button>
                            }
                            <button type="button" class="btn border-0 shadow-none" (click)="toggleBusquedaAvanzada()">
                                <fa-icon [icon]="filtersIcon"></fa-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="form" [hidden]="!mostrarBusquedaAvanzada">
        <app-card-search-filters #cardSearchFilters></app-card-search-filters>
    </form>
    @if (cards$ | async; as cards) {
        <div class="list-group">
            @for (card of resultCards; track $index) {
                <button type="button" class="list-group-item list-group-item-action" [class.active]="isSelectedCard(card)" (click)="toggleSelection(card)" [style.background-image]="getBackgroundImage(card)">
                    <div class="d-flex flex-row align-items-center">
                        <div class="col d-flex flex-column text-truncate">
                            <ngb-highlight [result]="card.name" [term]="term" class="text-truncate"></ngb-highlight>
                            <ngb-highlight [result]="card['expansion_name']" [term]="term" class="fs-6 text-truncate"></ngb-highlight>
                            <ngb-highlight [result]="card.code.default" [term]="term" class="fs-6 text-truncate"></ngb-highlight>
                        </div>
                    </div>
                </button>
            }
            @if(isValidTerm && resultCards.length == 0) {
                <div class="alert alert-warning d-flex flex-row align-items-center justify-content-center m-0">
                    <fa-icon [icon]="warningIcon" class="me-3"/>
                    <span>
                        No se han encontrado resultados
                    </span>
                </div>
            }
            @if((page * pageSize) < cards.total) {  
                <button type="button" class="text-bg-primary text-center list-group-item list-group-item-action" (click)="applyFilter(true)">
                    <div class="d-flex flex-row align-items-center">
                        <div class="col d-flex flex-column text-truncate">
                            Mostrar más resultados
                        </div>
                    </div>
                </button> 
            }
        </div>
    }
</div>
<div class="modal-footer">
    <div class="flex-grow-1">
        Seleccionadas: <span class="fw-bold">{{ this.selectedCards.length }}</span>
    </div>
    <button type="button" class="btn btn-secondary"  (click)="close()">
        Cancelar
    </button>
    @if (isUpdateMode) {
        <button type="button" class="btn btn-primary" (click)="add()" [disabled]="noCards">
            Agregar
            <fa-icon [icon]="goIcon" class="ms-2"/>
        </button>
    }
    @else {
        <button type="button" class="btn btn-success" (click)="create()" [disabled]="noCards">
            Agregar
            <fa-icon [icon]="goIcon" class="ms-2"/>
        </button>
    }
</div>
