<div class="row mt-3">
	<div class="col">
		<div class="card mb-3">
			<div class="card-header">
				<strong>
					1) Escribe en la barra de búsqueda
				</strong>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md d-flex flex-column">
						En la barra de búsqueda que se ve al iniciar la app, escribí el nombre de la carta que buscás. Puede ser parte del nombre, expansión o incluso el nombre del artista.
						<img class="mt-2 align-self-center" src="assets/como-funciona/step_1.png" width="300px">
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3">
			<div class="card-header">
				<strong>
					2) Seleccioná la carta que buscás
				</strong>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md d-flex flex-column">
						Como habrás visto, al empezar a escribir, la app comenzará a buscar cartas. En cuanto se detecte alguna coincidencia, vas a ver los resultados como se muestra a continuación:
						<img class="my-2 align-self-center" src="assets/como-funciona/step_2-1.png" width="300px">
						En cuanto veas la carta que buscás, seleccionala y luego hacé click en el botón indicado:
						<img class="mt-2 align-self-center" src="assets/como-funciona/step_2-2.png" width="300px">
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3">
			<div class="card-header">
				<strong>
					3) Ver información de la carta
				</strong>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md d-flex flex-column">
						Una vez seleccionado, podrás ver información general de la carta y los precios del mercado. Acá un ejemplo de la carta que seleccionamos.
						<img class="mt-2 align-self-center" src="assets/como-funciona/step_3.png" width="300px">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
