.offcanvas-container {
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 100vh;
    .offcanvas-body {
        .nav-item .nav-link {
            opacity: 0.75;

            &.active {
                opacity: 1;
            }
        }

        .offcanvas-subtitle {
            font-size: 0.75rem;
        }
    }
}
