.offcanvas-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    min-height: 100vh;
    .offcanvas-body {
        .nav-item .nav-link {
            opacity: 0.75;

            &.active {
                opacity: 1;
            }
        }

        .offcanvas-subtitle {
            font-size: 0.75rem;
        }
    }
}

.user-name {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}