@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.img-container {
    text-align: center;
}

.card-price {
    font-size: x-large;

    & .card-format {
        font-size: large;
    }
}

.font-small {
    font-size: 0.8rem;
}

.btn-qty {
    width: 2.5em;
}

.list-group-item.list-group-item-action .bg-list-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background-color: $gray-200;
}

.list-group-item.list-group-item-action.card-price-active .bg-list-item {
	background-color: $primary;
}