.card-game {
    // margin: 1rem 0;
    & > .card {
        & > img {
            height: auto;
            padding: 1rem;
        }
        & > img.img-sm {
            width: 6rem;
            padding: .5rem;
            align-self: center;
        }
    }
}


.soon {
    position: relative;
    overflow: hidden;
    opacity: 0.5;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    & .card-body {
        position: relative;
        z-index: 2;
    }
}