<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="alert alert-warning d-flex rounded-0 mb-0" role="alert">
        <fa-icon [icon]="infoIcon" class="align-self-center me-3"></fa-icon>
        <div class="d-flex flex-column flex-grow-1">
            <span class="fw-bold">{{title()}}</span>
            <span [innerHTML]="htmlText()"></span>
        </div>
        <button type="button" class="btn-close align-self-center mx-3" aria-label="Close" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"></button>    
    </div>
</div>