<div class="col-12 mb-3">
    <div @myInsertRemoveTrigger class="card modal-filter">
        <div class="card-body">    
            <form [formGroup]="childForm" class="row g-3">
                <div class="col-12 col-lg-6">
                    <label for="game" class="form-label">Juego</label>
                    <app-game-select [name]="'game'" [showOnlyAvailable]="true" [showOptionAll]="true"></app-game-select>
                </div>
                @if(gameCtrl.value) {
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gameLocked" formControlName="gameLocked" (change)="onGameLockedChanged($event)">
                            <label class="form-check-label" for="gameLocked">Recordar decisión</label>
                        </div>
                    </div>
                }
                <div class="col-12 col-lg-6">
                    <label for="expansion" class="form-label">Expansión</label>
                    <app-expansion-select [name]="'expansion'" [showOptionAll]="true"></app-expansion-select>
                </div>
            </form>
        </div>
    </div>
</div>