@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$width-sidebar: 300px;

.app-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
}

.body {
    display: flex;
    flex: 1;
    overflow: hidden;
    
    & aside { 
        overflow-y: auto;
        text-wrap: nowrap;
        max-width: $width-sidebar;
        border-right: 1px solid $gray-500;
    }

    & main {
        flex: 1;
        overflow-y: auto;

        & > app-ad-banner {
            z-index: 10;
            position: sticky;
            bottom: 0;
        }
    }
}

.aside-background-color-dark {
	background-color: $primary-text-emphasis;
	scrollbar-color: white $primary-text-emphasis;
	color: white;
}
	
	.aside-background-color-light {
	background-color: $gray-400;
}

@media (max-width: 768px) {
    div.body {
        
        &:not(.sidebar-collapsed) {
            width: calc(100% + $width-sidebar);
        }
        &.sidebar-collapsed {
            width: 100%;
        }
        
        @include transition($transition-collapse-width);
    }
}
