<app-navbar #navbar></app-navbar>
<div class="b-divider" [class.no-bg]="!applyContainer"></div>
<!-- @if(applyContainer) { -->
<!-- } -->
      
<div #appContainer [class.container]="applyContainer" class="flex-grow-1">
      <xng-breadcrumb #breadcrumb>
            <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                        <ng-container *xngBreadcrumbItem="let breadcrumb">
                              <ng-container>{{ breadcrumb }}</ng-container>
                        </ng-container>
            
                  </ol>
                </nav>
      </xng-breadcrumb>
      <router-outlet></router-outlet>
</div>

<app-loading-screen></app-loading-screen>