@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$width-sidebar: 300px;

.app-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
}

.body {
    display: flex;
    flex: 1;
    overflow: hidden;
    
    & aside { 
        overflow-y: auto;
        text-wrap: nowrap;
		background-color: $primary-text-emphasis;
        scrollbar-color: #fff $primary-text-emphasis;
        max-width: $width-sidebar;
    }

    & main {
        flex: 1;
        overflow-y: auto;

        & > app-ad-banner {
            position: sticky;
            bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    div.body {
        
        &:not(.sidebar-collapsed) {
            width: calc(100% + $width-sidebar);
        }
        &.sidebar-collapsed {
            width: 100%;
        }
        
        @include transition($transition-collapse-width);
    }
}
