@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.app-subtitle {
    border-left: 1px white solid;
}

.bg-modal-content {
	background-color: $gray-200
}

.export-font {
    font-size: 0.65rem;
}

.bg-badge-unit-price-export-card {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-overflow: ellipsis;
    overflow: auto;
}

.bg-badge-total-export-card {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-overflow: ellipsis;
    overflow: auto;
}

.card-export-item {
    width: auto;

	.img-container {
        border: $gray-500 1px solid;
        border-radius: .6rem;
        position: relative;
	
		& > .img-card {
			-webkit-border-radius: .6rem;
			-moz-border-radius: .6rem;
			border-radius: .6rem;
            transition: height 0.2s , width 0.2s;
		}
	}
}

.close-btn:focus {
    box-shadow: none;
}


.qty-container {
    position: absolute;
    bottom: 0.15em;
    place-content: center;
    align-items:center;
    justify-content:center;
    .qty-bg {
        opacity: .8;        
    }

    .qty-number {
        color: white;
        position: absolute;
        position-area: center;
        font-family: pixel-gosub;
        font-size: x-large;
        padding-bottom: 7px;
        padding-left: 4px;
        line-height: 0;
    }
}