@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.app-subtitle {
    border-left: 1px white solid;
}

.bg-modal-content {
	background-color: #e9ecef; // $gray-200
}

.export-font {
    font-size: 0.65rem;
}

.bg-badge-unit-price-export-card {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-overflow: ellipsis;
    overflow: auto;
}

.bg-badge-total-export-card {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-overflow: ellipsis;
    overflow: auto;
}

.card-export-item {
    border: $gray-600 1px solid;
    border-radius: 7px;
    width: auto;

	.img-container {
		background: linear-gradient($dark, $primary);
		&.no-price {
			background: none
		}
	
		& > img {
			-webkit-border-radius: .4rem;
			-moz-border-radius: .4rem;
			border-radius: .4rem;
		}
	}
}

.close-btn:focus {
    box-shadow: none;
}


.qty-container {
    filter: opacity(0.8) brightness(0.0);
    height: 50px;
    width: 50px;
}

.qty-number {
    color: white;
    position: absolute;
    position-area: center;
    font-family: pixel-gosub;
    font-size: x-large;
    padding-bottom: 7px;
    padding-left: 4px;
}