<footer class="nav-default-height bg-dark py-3 border-top d-flex align-items-center">
  <div class="container text-light d-flex flex-wrap justify-content-between align-items-center">

    <span class="flex-fill">
      Desarrollado por <a href="https://cafecito.app/goncxjo"  rel='noopener' target='_blank' class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">&#64;goncxjo</a>
    </span>
    <a href='https://cafecito.app/goncxjo' rel='noopener' target='_blank'>
      <img class="cafecito-img" srcset='https://cdn.cafecito.app/imgs/buttons/button_3.png 1x, https://cdn.cafecito.app/imgs/buttons/button_3_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x' src='https://cdn.cafecito.app/imgs/buttons/button_3.png' alt='Invitame un café en cafecito.app' />
    </a>
  </div>
</footer>
