<div class="p-md-5 mb-md-4 text-white rounded-3">
    <div class="container-fluid py-md-3">
        <h1 class="col-12 col-lg-8 display-5 fw-bold">
            Tu sitio de referencia para calcular precios en tu moneda local y organizar tus cartas.
        </h1>
        <h5 class="col-12 col-lg-8 fs-4">
            Te invitamos a buscar cartas utilizando el buscador de la parte superior.
        </h5>
        @if(!isLoggedIn()) {
            <p class="col-12 col-lg-8 fs-4">
                ¿Necesitas guardar tus listas?
            </p>
            <div class="d-grid gap-3 d-sm-flex">
                <button class="btn btn-primary" type="button" (click)="login()">
                    Iniciar sesión
                </button>
                <button class="btn btn-primary" type="button" (click)="openCardSearchModal()">
                    Buscar
                </button>
            </div>
        }
        @else {
            <div class="d-grid gap-3 d-sm-flex">
                <button class="btn btn-primary" type="button" (click)="openCardSearchModal()">
                    Buscar
                </button>
                <button class="btn btn-primary" type="button" routerLink="/card-lists">
                    Ver listas
                </button>
            </div>
        }
            
        <div class="mt-4">
            <app-content-info [title]="'Recordatorio: '" [htmlText]="infoMsg"></app-content-info>
        </div>

        <br>

        <p class="col-12 col-lg-8 fs-4">
            Juegos disponibles:
        </p>
        <app-game-selector></app-game-selector>
    </div>
</div>

