<div class="container">
    <div class="home-content p-5 text-white rounded-3">
        <div class="container py-md-3">
            <h1 class="col-12 col-lg-8 display-6 fw-bold">
                TCG Toolbox
            </h1>
            <h1 class="col-12 col-lg-8 display-5 fw-bold">
                Hacé que las cosas sean más fáciles
            </h1>
            <h5 class="col-12 col-lg-8 fs-4">
                ¡Organiza las cartas de tus juegos preferidos en un solo lugar!
            </h5>
            <div class="pt-3">
                @if(!isLoggedIn()) {
                <p class="col-12 col-lg-8 fs-4">
                    ¿Necesitas guardar tus listas?
                </p>
                <div class="d-grid gap-3 d-sm-flex">
                    <button class="btn btn-primary" type="button" (click)="login()">
                        Iniciar sesión con Google
                    </button>
                </div>
                }
            </div>
        </div>
    </div>
    
    <div class="container px-4 pt-5 pb-0" id="hanging-icons">
        <h3 class="title-square pb-2 text-white border-bottom ">Herramientas</h3>
        <div class="row g-4 py-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @for(tool of getTools(); track tool.path) {
            <div class="col d-flex align-items-start">
                <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img id="app-logo" width="100%" height="100%" src="assets/price-calc-logo.svg" alt="TCG Price Calculator">
                </div>
                <div class="text-white">
                    <h3 class="fs-2">{{tool.title}}</h3>
                    <p>{{tool.description}}</p>
                    <div class="d-flex d-grid gap-3 mb-3">
                        @if(isLoggedIn()) {
                        <button type="button" class="btn btn-primary" [routerLink]="['/', 'price-calc','card-lists']">
                            Mis listas
                        </button>
                        }
                        <button type="button" class="btn btn-primary"
                            [routerLink]="['/', 'price-calc','card-lists', 'new']">
                            Calcular
                        </button>
                    </div>
                </div>
            </div>
            }
            <div class="col d-flex align-items-start">
                <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img id="app-logo" width="100%" height="100%" src="assets/soon-logo.svg" alt="TCG Price Calculator">
                </div>
                <div class="text-white">
                    <h3 class="fs-2">Próximamente</h3>
                    <p>Pronto vamos a incluir más herramientas. ¡Estate atento!</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container px-4 pt-5 pb-0" id="hanging-icons">
        <h3 class="title-square pb-2 text-white border-bottom ">Juegos disponibles</h3>
        <app-game-selector></app-game-selector>
    </div>
    
    <div class="container px-4 py-5 pb-0" id="hanging-icons">
        <h3 class="title-square pb-2 text-white border-bottom ">Donaciones</h3>
        <p class="mb-3 text-white ">
            Gran parte de este proyecto es totalmente gratuito para la comunidad. ¡Podes apoyar a TCG Toolbox con solo $100!
        </p>
        <a href='https://cafecito.app/goncxjo' rel='noopener' target='_blank'><img
                srcset='https://cdn.cafecito.app/imgs/buttons/button_3.png 1x, https://cdn.cafecito.app/imgs/buttons/button_3_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x'
                src='https://cdn.cafecito.app/imgs/buttons/button_3.png' alt='Invitame un café en cafecito.app' />
        </a>
    
    </div>
    
</div>