<div class="card mb-3">
    <div class="card-body home-card" [style.text-wrap]="'pretty'">
        <div class="row">
            <div class="col-12 col-md-6">
                <h5 class="card-title fw-bold">Digimon TCG Price Calculator: TCGplayer a tu moneda local</h5>
                <p class="card-text">Ahorrá tiempo con la calculadora de precios. Convertí el "Listed medial price" de
                    TCGplayer según la cotización del dólar de tu país.</p>

                <p class="card-text fw-bold">¡Te invitamos a buscar cartas ahora mismo utilizando el buscador de la
                    parte superior!</p>

                <div class="d-grid gap-3 d-sm-flex justify-content-sm-start">
                    <button class="btn btn-primary" type="button" routerLink="/posts">
                        Ver publicaciones
                    </button>
                    <button class="btn btn-secondary" type="button" disabled>
                        Registrarse
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-content-info [title]="'Recordatorio: '" [htmlText]="infoMsg"></app-content-info>
