@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.offcanvas-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .offcanvas-body {
        .nav-item .nav-link {
            opacity: 0.75;

            &.active {
                opacity: 1;
            }
        }

        .offcanvas-subtitle {
            font-size: 0.75rem;
        }
    }
}
