<!-- <button type="button" class="btn btn-outline-secondary border-0" (click)="onView($event)">
    <fa-icon [icon]="viewIcon"></fa-icon> {{ viewBtn?.showLabel ? viewBtn?.label : '' }}
</button> -->
<button type="button" class="btn btn-outline-primary border-0" (click)="onEdit($event)">
    <fa-icon [icon]="editIcon"></fa-icon> {{ editBtn?.showLabel ? editBtn?.label : '' }}
</button>
<button type="button" class="btn btn-outline-danger border-0" (click)="onDelete($event)">
    <fa-icon [icon]="deleteIcon"></fa-icon> {{ deleteBtn?.showLabel ? deleteBtn?.label : '' }}
</button>
