@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.rounded-close-btn {
	border-radius: 50%;
    padding: 0.4em 0.56em;
}

.card-actions {
    border-radius: var(--bs-card-border-radius);

    & .btn-top {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;    
    }

    & .btn-bottom {
        border-top-right-radius: 0;
        border-top-left-radius: 0;    
    }
}


.card-list-container {
	overflow: hidden;
	& .card-item-container {
		box-shadow: 1px 1px 0px 0px var(--bs-border-color);
    }
}