/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Sans 3", sans-serif;

	// box-shadow: none !important;
}

body {
	min-height: 100vh;
	min-height: 100dvh;
}

app-root {
	@extend .d-flex;
	@extend .flex-column;
	@extend .min-vh-100;
}

@font-face {
	font-family: pixel-gosub;
	src: url('assets/fonts/PixelGosub-ZaRz.ttf') format("truetype");
}

$font-family-base: "Montserrat", -apple-system, sans-serif !important;
$app-navbar-height-default: 4rem;

$web-font-path: false;
$enable-dark-mode: true;

/* Importing Bootstrap SCSS file. */
@import 'bootswatch/dist/zephyr/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/zephyr/bootswatch';

// regular style toast
@import 'ngx-toastr/toastr';
@import 'ngx-toastr/toastr-bs5-alert';

@include media-breakpoint-down(md) {
	.card-search-modal-height {
		height: 100%;
		max-width: none;
		width: 100vw;
		margin: 0;

		& .modal-content {
			height: 100%;
			border-radius: 0;

			&>* {
				height: 100%;

				& .modal-header {
					padding: 0;

					&>div>div>div {
						border-radius: 0;
					}
				}

				& .modal-body {
					padding-top: 0;
					padding-right: 0;
					padding-left: 0;

					&>.list-group {
						border-radius: 0;
					}
				}
			}
		}
	}

	.modal-filter {
		border-radius: 0;
		border-top: 0;
	}
}

.home-background-color {
	--color-1: var(--bs-code-color);
	--color-2: var(--bs-primary-text-emphasis);
	--color-3: var(--bs-primary);
	background:
		linear-gradient(217deg, var(--color-1), rgba(255, 0, 0, 0) 70.71%),
		linear-gradient(127deg, var(--color-2), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(336deg, var(--color-3), rgba(0, 0, 255, 0) 70.71%);
}

.home-background-color-dark {
	background-color: $primary-text-emphasis;
}

.home-background-color-light {
	background-color: $gray-300;
}

footer {
	background-color: var(--bs-dark);
}

body[data-bs-theme="dark"] {
	&.home-background-color {
		background: var(--bs-body-bg);
	}
	
	&.home-background-color-light {
		background-color: var(--bs-body-bg);
	}
	
	& .aside-background-color-light {
		background-color: var(--bs-body-bg) !important;
		border: 1px solid rgba(0,0,0,0.3) !important;
	}

	& .modal-header.text-bg-dark {
		background-color: rgba(0,0,0,0.5) !important;
	}

	& .bg-modal-content {
		background-color: var(--bs-body-bg);
	}

	& .app-tool-header {
		filter: none;	
	}

	& .app-tool-header:hover {
		filter: brightness(0.5) !important;
	}

	& footer {
		background-color: rgba(0,0,0,0.5);
	}
}


hr {
	border-width: 1px;
}

.title-square {
	font-family: pixel-gosub;
}

.divider-nav-height {
	height: $app-navbar-height-default;
}

.xng-breadcrumb-root {
	padding: 8px 0;
	display: inline-block;
}

.xng-breadcrumb-separator {
	padding: 0px 4px;
}

.xng-breadcrumb-link {
	@extend .link-primary;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// .nav-default-height {
// 	height: $app-navbar-height-default;
// }

nav {

	.input-group-sm>.form-control,
	.input-group-sm>.form-select,
	.input-group-sm>.input-group-text,
	.input-group-sm>.btn {
		padding: 0.19rem 0.5rem;
		font-size: 0.875rem;
		border-radius: var(--bs-border-radius-sm);
	}
}

.offcanvas-footer {
	padding-top: $navbar-padding-y;
	height: $app-navbar-height-default;
}

.no-cards {
	height: 10em;
	align-content: center;
	@extend .text-muted;
	@extend .text-center;
}

.gelatine {
animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
from, to { transform: scale(1, 1); }
25% { transform: scale(0.9, 1.1); }
50% { transform: scale(1.1, 0.9); }
75% { transform: scale(0.95, 1.05); }
}

.rubberBand:hover {
	animation: gelatine 0.5s;
}
@keyframes rubberBand {
	from, to { transform: scale(1, 1); }
	25% { transform: scale(0.9, 1.1); }
	50% { transform: scale(1.1, 0.9); }
	75% { transform: scale(0.95, 1.05); }
}

.tool-logo {
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-position: center;
	width: 2.5em;
	height: 2.5em;
	background-color: currentColor;
}

.svg-invert {
	filter: invert(1);
}

.no-pointer {
	cursor: default;
}