<div class="container">
    <div class="card mb-3">
        <div class="card-header text-bg-primary fw-bold">
            Buscar lista de cartas
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <app-card-list-filters #cardListFilters></app-card-list-filters>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                <button type="button" class="btn btn-sm btn-success" routerLink="new">
                    <fa-icon [icon]="plusIcon" />
                    Crear lista
                </button>
                <button type="button" class="btn btn-sm btn-primary" (click)="applyFilter()">
                    <fa-icon [icon]="searchIcon" />
                    Filtrar lista
                </button>
            </div>
        
        </div>
    </div>
        
    <div class="row mb-3">
        <div class="col">
            @if (rowData$ | async; as rowData) {
                @if (rowData.length > 0) {
                    <ag-grid-angular style="width: 100%; height: 320px" [rowData]="rowData" [columnDefs]="colDefs"
                        [autoSizeStrategy]="agGridService.autoSizeStrategy" [getRowHeight]="agGridService.getRowHeight" 
                        (firstDataRendered)="agGridService.onFirstDataRendered($event)"
                        (gridSizeChanged)="agGridService.onGridSizeChanged($event)" (gridReady)="agGridService.onGridReady($event)"
                        [suppressDragLeaveHidesColumns]="true"
                        [suppressMoveWhenColumnDragging]="true"
                        [gridOptions]="agGridService.gridOptions"
                        [theme]="agGridService.getTheme()">
                    </ag-grid-angular>
                }
                @else {
                <div class="alert alert-warning d-flex flex-row align-items-center justify-content-center m-0">
                    <fa-icon [icon]="warningIcon" class="me-3" />
                    <span>
                        No se han encontrado resultados
                    </span>
                </div>
                }
            }
            @else {
                <div class="card" aria-hidden="true">
                    <div class="card-header">
                        <h5 class="card-title placeholder-glow mb-0">
                            <span class="placeholder col-6"></span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                            <br>
                            <span class="placeholder col-6"></span>
                            <br>
                            <span class="placeholder col-6"></span>
                        </h5>
                    </div>
                </div>
            }
        </div>        
    </div>    
</div>