<div class="fixed-top">
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark nav-default-height">
    <div class="container">
      <div class="collapse navbar-collapse">
        <app-logo></app-logo>
        <ul class="navbar-nav me-auto ms-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/posts']" [routerLinkActive]="['active']">Publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='https://cafecito.app/goncxjo' rel='noopener' target='_blank'>Quiero donar</a>
          </li>
        </ul>
        <form class="d-flex search-bar-container" role="search" (click)="openCardSearchModal()">
          <span *ngIf="false; else searchBar"></span>
        </form>
      </div>
      <div class="flex-grow-1 d-flex d-lg-none">
        <app-logo [showTitle]="false" class="align-content-center me-3"></app-logo>
        <form class="search-bar-container flex-grow-1" role="search" (click)="openCardSearchModal()">
          <span *ngIf="false; else searchBar"></span>
        </form>
        <button class="navbar-toggler border-0 text-white ms-2" type="button" (click)="openSettingsOffcanvas()">
          <fa-icon [icon]="menuIcon"></fa-icon>
        </button>
      </div>
    </div>
  </nav>
  <app-dolar></app-dolar>
</div>

<ng-template #searchBar>
  <div class="input-group input-group-sm">
    <span class="input-group-text bg-light border-light">
      <fa-icon [icon]="searchIcon" />
    </span>
    <input type="text" class="search-bar form-control bg-light border-light" placeholder="Buscar carta...">
  </div>
</ng-template>

@if (loaderService.httpProgress() | async) {
<app-loading-screen></app-loading-screen>
}