<div class="fixed-top">
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
      <ul class="navbar-nav mb-lg-0" (click)="openSettingsOffcanvas()">
        <li class="nav-item">
          <a class="nav-link nav-search-button">
            <fa-icon [icon]="menuIcon" />
          </a>   
        </li>
      </ul>
      <div class="collapse navbar-collapse">
        <app-logo class="flex-grow-1"></app-logo>
        <form class="d-flex search-bar-container" role="search" (click)="openCardSearchModal()">
          <div class="input-group input-group-sm">
            <span class="input-group-text bg-light border-light">
              <fa-icon [icon]="searchIcon" />
            </span>
            <input type="text" class="search-bar form-control bg-light border-light" placeholder="Buscar carta...">
          </div>
        </form>
      </div>

      <div class="d-flex flex-grow-1 d-lg-none">
        <app-logo [showTitle]="false" class="flex-grow-1 align-content-center me-3"></app-logo>
        <ul class="navbar-nav me-auto ms-3 mb-lg-0" (click)="openCardSearchModal()">
          <li class="nav-item">
            <a class="nav-link nav-search-button">
              <fa-icon [icon]="searchIcon" />
            </a>   
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-dolar></app-dolar>
</div>
