<nav class="nav-default-height navbar sticky-top navbar-dark bg-primary">
  <div class="container">

    <a class="navbar-brand py-0" [routerLink]="['/']">
      <span *ngIf="false else logo"></span>
      <div class="brand" [hidden]="!isLoading">
        <img id="brand-logo" src="assets/logo_loading.svg" alt="loading">
        <span id="app-title" class="d-flex flex-column text-start loading-title">
          <span>Cargando</span>
        </span>  
      </div>
    </a>

    <button class="navbar-toggler border-0 app-nav-btn" type="button" (click)="open(content)">
      <fa-icon icon="bars"></fa-icon>
    </button>
  </div>
</nav>

<div class="d-flex flex-column loading-screen" [class.d-none]="!isLoading"></div>

<ng-template #logo>
  <div class="brand" [hidden]="isLoading">
    <img id="brand-logo" src="assets/logo.svg" alt="digi-calc">
    <span id="app-title" class="d-flex flex-column text-start">
      <span style="margin-bottom: -7px;">Digimon Card Game</span>
      <span>Price Calculator</span>
    </span>
  </div>
</ng-template>

<ng-template #content let-offcanvas>
	<div class="app-offcanvas offcanvas-header">
    <span class="mt-2">
      <span *ngIf="false else logo"></span>
    </span>

    <button class="navbar-toggler border-0 app-nav-btn p-2 mt-2" type="button" (click)="offcanvas.dismiss('Cross click')">
      <fa-icon icon="times"></fa-icon>
    </button>

	</div>
	<div class="offcanvas-body pt-0">
    <hr>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/como-funciona']" [routerLinkActive]="['active']">Cómo funciona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='https://cafecito.app/goncxjo' rel='noopener' target='_blank'>Quiero donar</a>
      </li>

    </ul>

    <hr>

    <small class="offcanvas-subtitle opacity-50 text-uppercase">Tiendas en Argentina</small>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://phoenixreborn.com.ar/categoria-producto/digimon/" rel='noopener' target='_blank'>Phoenix Reborn</a>
        <a class="nav-link" href="https://spacegaminglomas.com/categoria-producto/digimon/" rel='noopener' target='_blank'>SpaceGamingLomas</a>
        <a class="nav-link" href="https://deathvalley.com.ar/" rel='noopener' target='_blank'>Death Valley</a>
      </li>
    </ul>
    
    <hr>

    <small class="offcanvas-subtitle opacity-50 text-uppercase">Sitios relacionados</small>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://digimoncard.dev/" rel='noopener' target='_blank'>DigimonCard.dev</a>
        <a class="nav-link" href="https://digimoncard.io/" rel='noopener' target='_blank'>DigimonCard.io</a>
        <a class="nav-link" href="https://digimonmeta.com/deck-list/" rel='noopener' target='_blank'>Digimon Card Meta</a>
        <a class="nav-link" href="https://digimoncardgame.fandom.com/wiki/DigimonCardGame_Wiki" rel='noopener' target='_blank'>Digimon Card Game Wiki Fandom</a>
      </li>
    </ul>
    
    <hr>

    <small class="offcanvas-subtitle opacity-50 text-uppercase">Otras aplicaciones</small>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://online-judge-eight.vercel.app/" rel='noopener' target='_blank'>AI Judge by WARBEN</a>
        <a class="nav-link" href="https://www.digi-tcg.online/" rel='noopener' target='_blank'>Project Drasil by WE-Kaito</a>
      </li>
    </ul>

  </div>
	<div class="offcanvas-footer px-4 opacity-50 text-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Versión de la app: {{ getVersionText() }}</a>
          </li>
        </ul>
  </div>
</ng-template>

