<div class="card mb-3">
	<div class="card-header text-bg-primary fw-bold">
		Buscar
	</div>
	<div class="card-body">
        <form [formGroup]="form">
            <app-card-list-filters #cardListFilters></app-card-list-filters>
        </form>
	</div>
</div>

<div class="d-grid gap-3 d-sm-flex justify-content-sm-end mb-3">
    <button type="button" class="btn btn-sm btn-success" routerLink="create">
        <fa-icon [icon]="plusIcon"/>
        Crear lista
    </button>
    <button type="button" class="btn btn-sm btn-success" (click)="applyFilter()">
        <fa-icon [icon]="searchIcon"/>
        Buscar
    </button>
</div>	

@if (rowData$ | async; as rowData) {
    @if (rowData.length > 0) {

        <ag-grid-angular
            style="width: 100%; height: 100%;"
            [rowData]="rowData"
            [columnDefs]="colDefs"
            [autoSizeStrategy]="agGridService.autoSizeStrategy"
            [getRowHeight]="agGridService.getRowHeight"
            (firstDataRendered)="agGridService.onFirstDataRendered($event)"
            (gridSizeChanged)="agGridService.onGridSizeChanged($event)"
            (gridReady)="agGridService.onGridReady($event)"
            [gridOptions]="agGridService.gridOptions"
        ></ag-grid-angular>
    }
    @else {
        <div class="alert alert-warning d-flex flex-row align-items-center justify-content-center m-0">
            <fa-icon [icon]="warningIcon" class="me-3"/>
            <span>
                No se han encontrado resultados
            </span>
        </div>
    }

}
